In [ ]:
print("hello world")

hello world

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
2*10

20

In [ ]:
type(10)

int

In [ ]:
type('abc')

str

In [ ]:
type(2.01)

float

In [ ]:
type(True)

bool

In [ ]:
eno=20
print("The given employee no is",eno)

The given employee no is 20

In [ ]:
eno=10
ename="mohammad zaid"
esal=30000
print("The Given Employee no is",eno)
print("The Given Employee name is",ename)
print("The Given Employee salary is",esal)

The Given Employee no is 10
The Given Employee name is mohammad zaid
The Given Employee salary is 30000

In [ ]:
b=int(input("Enter b value"))
c=int(input("Enter c value"))
print(type(b))
print(type(c))
print(b+c)

Enter b value30
Enter c value40
<class 'int'>
<class 'int'>
70

In [ ]:
eno=int(input("Enter the eno value"))
ename=input("Enter the ename value")
esal=float(input("Enter the esal value"))
print("The Given Employee no is",eno)
print("The Given Employee name is",ename)
print("The Given Employee salary is",esal)

Enter the eno value1002
Enter the ename valueshaik sameer
Enter the esal value35000
The Given Employee no is 1002
The Given Employee name is shaik sameer
The Given Employee salary is 35000.0

In [ ]:
#write a phython program to enter radius of circle and find area ?
radius=int(input("Enter the radius value"))
pi=3.14
area=pi*radius*radius
print("The area of circle is ",area)

Enter the radius value6
The area of circle is  113.03999999999999

In [ ]:
#write a phython program find the area and circumference of rectangle ?
length=int(input("Enter the lenght value "))
breath=int(input("Enter the breath value "))
area=length*breath
circumference=2*length+breath
print("The area of rectangle",area)
print("The circumference of rectangle",circumference)

Enter the lenght value 4
Enter the breath value 2
The area of rectangle 8
The circumference of rectangle 10

In [ ]:
from typing import AsyncGenerator
#write a phython program to check the person whether eligible for voting or not ?
age = 20

if age >=18:
   print("Eligible for voting")
else:
   print("Not Eligible for voting ")

Eligible for voting

In [ ]:
#write a phython program to check the given number is positive or negative or zero ?
number=18
if number>0:
   print("positive number")
elif number<0:
   print("negative number")
else:
  print("zero")

positive number

In [ ]:
#which wheather the number is even or odd ?
number=5
if number%2==0:
  print("even number")
else:
  print("odd number")

odd number

In [ ]:
#accept employee basic salary and find gross salary
basic=int(input('Enter your basic salary to find gross salary'))
if basic<=10000:
    hra=(100/basic)*70
    Da=(100/basic)*56
elif basic<=20000:
     hra=(100/basic)*73
     Da=(100/basic)*60
else:
     hra=(100/basic)*80
     Da=(100/basic)*66

gs=basic+hra+Da
print("hra",hra)
print("Da",Da)
print("Gross salary",gs)

Enter your basic salary to find gross salary8000
hra 0.875
Da 0.7000000000000001
Gross salary 8001.575

In [ ]:
#accept username and password and display
 #invalid username---if username is incorrect
  #invalid password---if password is incorrect
username=input("Enter username")
if username=="zaid":
  password=input("Enter password")
  if password=="2909":
     print("valid user")
  else:
    print("invalid password")
else:
  print("invalid username")

Enter usernamezaid
Enter password2909
valid user

In [ ]:
#accept the withdraw amount and print no of notes
#SBI ATM: 500,200,100

amount=int(input("Enter the withdraw amount"))
if amount%100==0:
  if amount>=500:
      five=amount//500
      amount=amount-(five*500)
      print("500-----",five)
  if amount>=200:
     two=amount//200
     amount=amount-(two*200)
     print("200---",two)
  if amount>=100:
     one=amount//100
     amount=amount-(one*100)
     print("100---",one)
else:
  print("Please enter multiples of 100")

Enter the withdraw amount3000
500----- 6